@model IEnumerable<Carreteras.tb_ciudades>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	 @Html.ActionLink("Nuevo", "Create",null,new { @class = "btn btn-success toolbar-item" })
</p>




 <div class="ibox-content">


<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciu_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_fecha_crea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_fecha_modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_departamentos.dep_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_usuarios.usu_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_usuarios1.usu_descripcion)
        </th>
        <th>Accion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_fecha_crea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_fecha_modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_departamentos.dep_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_usuarios.usu_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_usuarios1.usu_descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ciu_id }, new { @class = "btn btn-success  btn-xs" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.ciu_id }, new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Inactivar", "Delete", new { id=item.ciu_id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>



 </div>




